<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edozo:uploader - Show a Task</title>
    <link rel="stylesheet" href="../../public/vendors/foundation-6/css/foundation.css">
    <link rel="stylesheet" href="../../public/vendors/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-title">
        <ul>
          <li><img src="../../public/images/logo.png" alt="edozo logo"></li>
          <li><div class="module">: uploader</div></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu" data-dropdown-menu>
          <li><a href="#">Workspace</a></li>
          <li><a href="#">My team</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </div>
    </div><!-- End of .top-bar -->

    <div class="menu-centered">
      <ul class="menu">
        <li class="active"><a href="#">TASKS</a></li>
        <li><a href="#">COMPS</a></li>
        <li><a href="#">LISTINGS</a></li>
      </ul>
    </div><!-- End of .menu-centered -->

    <div class="title">
      <h2>Task: Edozo comparables A12-78</h2>
    </div><!-- End of .title -->

    <div class="row ">
      <div class="small-offset-2 small-8 columns end">
        <hr>

        <div class="row">
          <div class="small-6 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur suscipit sed culpa odit voluptatibus error omnis est fugiat corporis voluptate autem, nostrum quas eaque molestiae facilis rerum, veniam nam blanditiis aliquam nemo eum numquam cupiditate iure. Facere ab consequuntur vitae tenetur cupiditate!</p>
            <div class="row">
              <div class="small-12 columns">
                <h5>Attachments</h5>
                <ul class="no-bullet">
                  <li><a><i class="fa fa-file"></i> source_comp_12.docx</a></li>
                  <li><a><i class="fa fa-file"></i> source_comp_42.docx</a></li>
                  <li><a><i class="fa fa-file"></i> list_comps_12_78.xlsx</a></li>
                </ul>
              </div>
            </div><!-- .row -->
          </div>
          <div class="small-6 columns">
            <table>
              <tbody>
                <tr>
                  <td><strong>Status</strong></td>
                  <td>Open</td>
                </tr>
                <tr>
                  <td><strong>Priority</strong></td>
                  <td><span class="alert label">Urgent</span></td>
                </tr>
                <tr>
                  <td><strong>Group</strong></td>
                  <td>Team A</td>
                </tr>
                <tr>
                  <td><strong>User</strong></td>
                  <td>John Doe</td>
                </tr>
              </tbody>
            </table>

            <a class="button"><i class="fa fa-edit"></i>Edit this task (admin only)</a>
          </div>
        </div><!-- .row -->

        <div class="row">
          <div class="small-12 columns">
            <hr>

            <h5>Comparables</h5>
            <table>
              <thead>
                <tr>
                  <th>Address</th>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a>The Pavillion, 96 Kensignton Hight Street, London</a></td>
                  <td>#0003321</td>
                  <td>Market letting</td>
                  <td><span class="warning label">Ready to check</span></td>
                </tr>
                <tr>
                  <td><a>42 St. Paul's Churchyard, London</a></td>
                  <td>#0003452</td>
                  <td>Market letting</td>
                  <td><span class="warning label">Ready to check</span></td>
                </tr>
                <tr>
                  <td><a>10 Downing Street, London</a></td>
                  <td>#0004002</td>
                  <td>Market letting</td>
                  <td><span class="success label">Approved</span></td>
                </tr>
                <tr>
                  <td><a>1 Oxford Street, London</a></td>
                  <td>#0004032</td>
                  <td>Market letting</td>
                  <td><span class="label">Published</span></td>
                </tr>
              </tbody>
            </table>

            <a class="button"><i class="fa fa-upload"></i>Upload a comp to this task</a>
          </div>
        </div>

      </div>
    </div><!-- End of .row -->

    <div id="footer"></div>

    <script src="../../public/vendors/foundation-6/js/vendor/jquery.js"></script>
    <script src="../../public/vendors/foundation-6/js/vendor/what-input.js"></script>
    <script src="../../public/vendors/foundation-6/js/vendor/foundation.min.js"></script>
    <script src="../../public/javascript/app.js"></script>
  </body>
</html>
