<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edozo:uploader - Sign in</title>
    <link rel="stylesheet" href="../../public/vendors/foundation-6/css/foundation.css">
    <link rel="stylesheet" href="../../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-title">
        <ul>
          <li><img src="../../public/images/logo.png" alt="edozo logo"></li>
          <li><div class="module">: uploader</div></li>
        </ul>
      </div>
    </div><!-- End of .top-bar -->

    <div class="title">
      <h2>Welcome</h2>
    </div><!-- End of .title -->

    <div id="sign-in" class="row">
      <div class="large-offset-4 large-4 columns end">
        <form>

          <div class="row">
            <div class="medium-12 columns">
              <label for="username"> User email
                <input type="text" name="username">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label for="password"> Password
                <input type="password" name="password">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <input type="submit" class="expanded alert button" value="Log me in">
            </div>
          </div>

        </form>
      </div>
    </div><!-- End of #sign-in -->

    <script src="../../public/vendors/foundation-6/js/vendor/jquery.js"></script>
    <script src="../../public/vendors/foundation-6/js/vendor/what-input.js"></script>
    <script src="../../public/vendors/foundation-6/js/vendor/foundation.js"></script>
    <script src="../../public/javascript/app.js"></script>
  </body>
</html>
